.message{
  height: 100vh;
  background: url("https://files.worldwildlife.org/wwfcmsprod/images/Namib_Desert_08.09.2012_Habitat_Hero/story_full_width/3sfqwofa06_HI_115201.jpg");
  background-size:cover;
}