.container{
 text-align: center;
}
.myrepositories{
  display: grid;
  grid-template-columns: auto auto auto;
}
img{
  position: absolute;
  height: 100px;
  width: 100px;
}
.my-profile{
  position: relative;
  text-align: center;
  background:#EF5455;
  left: 32%;
  width: 400px;
}
a{
  color:rgb(226, 230, 33);
}

